# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
*.log.*
dev.stdout.log
dev.stderr.log


# environment variables
.env
.env.production
.env.local
.env.*.local

# macOS-specific files
.DS_Store
Thumbs.db
Desktop.ini

# jetbrains setting folder
.idea/

# virtual environments
.venv/
venv/

# local caches/temp
.cache/
tmp/
temp/
